<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<meta charset="UTF-8">
<title>Asta accettata</title>
</head>
<body>
<p th:text="${asta.titolo}"/>
<p th:text="${asta.commento}"/>
Questi sono i recapiti del vincitore! Che aspetti a contattarlo?
<p th:text="'Email: '+${utenteEmail}"/>
<p th:text="'Cellulare: '+${utenteCellulare}"/>
<a th:href="@{'scriviRecensione/' + ${idLavoro}}">Lascia una recensione!</a>
</br>
</body>
</html>