<!DOCTYPE html>
<html>
<head th:include="fragments/_layout.html :: head">
	<meta charset="ISO-8859-1">
	<title>HomePage</title>

</head>
<body>

	<header th:replace="fragments/_layout.html :: navbar">
		Loading Failed
	</header>
	
	<div id="welcome" class="jumbotron" th:if="${session.loggedUser == null}")>
		<h1>Welcome to Need4Work</h1>
		<h3><a th:href="@{~/login}">Login</a> to start using the platform</h3>
	</div>
	<div id="navigate" class="jumbotron" th:if="${session.loggedUser != null}">
		<!-- LISTA LAVORI -->
		<p> da rimpiazzare con lista lavori </p>
	</div>
</body>
</html>