<!DOCTYPE html>
<html>
<head th:include="fragments/_layout.html :: head">
	<meta charset="ISO-8859-1">
	<title>HomePage</title>

</head>
<body>

	<header th:replace="fragments/_layout.html :: navbar">
		Loading Failed
	</header>
	
	<div id="welcome" class="jumbotron" th:if="${session.loggedUser == null}")>
		<h1>Welcome to Need4Work</h1>
		<h3><a th:href="@{~/login}">Login</a> to start using the platform</h3>
	</div>
	<div id="navigate" class="jumbotron" th:if="${session.loggedUser != null}">
		<table class="table mt-2 text-center">
			<thead class="thead-light">
			<tr>
				<td>Titolo</td>
				<td>Descrizione</td>
				<td>Prezzo di partenza</td>
				<td>Data fine asta</td>
				<td>Professione richiesta</td>
			</tr>
			</thead>
			<th:block th:each="asta:${aste}">
				<tr>
					<td th:text="${asta.titolo}"></td>
					<td th:text="${asta.commento}"></td>
					<td th:text="${asta.prezzoPartenza}"></td>
					<td th:text="${asta.dataFine}"></td>
					<td th:text="${asta.professioneRichiesta.getTipologia()}"></td>
					<td><a th:href="@{'pro/inserzioneCercata/' + ${asta.getIdAsta()}}">Visualizza asta</a></td>
				</tr>
			</th:block>
		</table>
	</div>
</body>
</html>