<!DOCTYPE html>

<html>

<head>

<meta charset="ISO-8859-1">

<title>InserzioneAstaAttiva</title>

</head>

<body>

<h1> Titolo dell'Inserzione</h1>


<p> <input type="text" style="width:300px ; height:50px" value="descrizione"> </p>

<p> <input type="text" style="width:300px ; height:50px" value="professionista1                            prezzo" > <input type="text" value="inserisci importo in euro"> <t> <a href="file:///C:/Users/ricdinoia/git/Need4Work/Need4Work/src/AccountProfiloProfessionista.html"><input type="button" value="rilancia"></a></t> </p>

<p> <input type="text" style="width:300px ; height:50px" value="professionista2                            prezzo"" > <t> </t></p>

<p> <input type="text" style="width:300px ; height:50px" value="professionista3                            prezzo"" > <t> </t></p>







</body>

</html>