<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Asta</title>
</head>
<body>
<h1><p th:text="${asta.titolo}"/></h1>
	<p th:text="${asta.commento}"/>
	<table>
	   <th:block th:each="off : ${offerte}">
		  <tr>
		     <td th:text="${off.utente.getEmail()}"></td>
		     <td th:text="${off.prezzo}"></td>
		 </tr>
	   </th:block>
	</table> 
	
	<form method="post" th:action="@{'/pro/faiOfferta/' + ${asta.getIdAsta()}}">
		<input type="number" name="prezzo">
		<button type="submit">Fai offerta</button>
	</form>
	
</body>
</html>