	<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<th:block th:include="fragments/_layout.html :: head"></th:block>
<title>Login</title>
</head>
<body>
<header th:replace="fragments/_layout.html :: navbar">thymeleaf layout loading failed</header>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-lg-6 col-md-8 mx-auto">

                    <!-- form card login -->
                    <div class="card rounded shadow shadow-sm ">
                        <div class="card-header">
                            <h3 class="mb-0">Login</h3>
                        </div>
                        <div class="card-body">
							<form class="form" role="form" method="post" action="signin">
								<div class="form-group">
									<label for="uname1">Email</label>
									<input class="form-control form-control-lg rounded-0" type="email" name="email">
								</div>
								<div class="form-group">
									 <label>Password</label>
									 <input type="password" class="form-control form-control-lg rounded-0" name="password">
								</div>
									
									<button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin">Login</button>
									
								</form>
								</div>
                        <!--/card-block-->
                    </div>
                    Non hai un account? <a href="/signUpInserzionista">Clicca qui</a>
                    <!-- /form card login -->
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->								
</body>
</html>