<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Profilo utente</title>
</head>
<body>
<h1>Mio profilo</h1>
<p th:text="${utente.nome}"/>
<p th:text="${utente.cognome}"/>
<a href="/modificaProfiloInserzionista"><button>Modifica profilo</button></br>
<a href="/creazioneInserzione"><button>Crea inserzione</button></a>
<table>
	<tr>
		<td>Titolo</td>
		<td>Descrizione</td>
	</tr>
	<th:block th:each="ins:${asta}">
		<tr>
			<td th:text="${ins.titolo}"></td>
			<td th:text="${ins.commento}"></td>
			<td><a th:href="@{'visualizzaInserzione/' + ${ins.getIdAsta()}}">Visualizza asta</a></td>
		</tr>
	</th:block>
</table>
</body>
</html>