<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Profilo utente</title>

<div th:replace="fragments/_layout.html :: head">thymeleaf layout loading failed</div>
</head>
<body>
	
	<header th:replace="fragments/_layout.html :: navbar">thymeleaf layout loading failed</header>
	<h1>Mio profilo</h1>
	<p th:text="${utente.nome}" />
	<p th:text="${utente.cognome}" />
	<a href="/modificaProfilo"><button>Modifica profilo</button>
		</br> <a href="/creazioneInserzione"><button>Crea inserzione</button></a>
		<p>Aste</p>
		<table>
			<tr>
				<td>Titolo</td>
				<td>Descrizione</td>
			</tr>
			<th:block th:each="ins:${asta}">
				<tr>
					<td th:text="${ins.titolo}"></td>
					<td th:text="${ins.commento}"></td>
					<td><a th:href="@{'visualizza/' + ${ins.getIdAsta()}}">Visualizza asta</a></td>
				</tr>
			</th:block>
		</table>
</body>
</html>