<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<title>Profilo professionista</title>
<th:block th:include="fragments/_layout.html" />
</head>
<body >

		</br> 
	<div th:object="${session.loggedUser}">
		<span th:if="${session.loggedUser == null}">
			<!-- 
				SEZIONE CARICATA SE UTENTE NON LOGGATO
			 -->
			 
			<div class="alert alert-primary" role="alert">
  				Non sei loggato torna alla pagina di <a th:href="@{~/login}">Login</a>
			</div>
		</span>
		<div id="userBody" th:unless="${session.loggedUser == null && (param.email == null || param.email == '')}" >
			
			<div id=datiUtente >
				<h2>Dati Utente</h2>
				<label ></label>
			</div>
			
			<div id="professioni" class="mx-auto float-left	" style="width: 20vw">
				<p class="badge text-wrap badge-info">Professioni dell'utente</p>
				<div class="embed-responsive embed-responsive-1by1">
				 	<iframe class="embed-responsive-item"  scrolling="auto" th:src="@{~/dp?email=} + ${session.loggedUser.email}"  >
				 		<p>No frame support :c</p>
				 	</iframe>
				</div>
			</div>
			
			<div id="professioni" class="mx-auto float-left	" style="width: 20vw">
				<p class="badge text-wrap badge-info">Professioni dell'utente</p>
				<div class="embed-responsive embed-responsive-1by1">
				 	<iframe class="embed-responsive-item"  scrolling="auto" th:src="@{~/dp?email=} + ${session.loggedUser.email}"  >
				 		<p>No frame support :c</p>
				 	</iframe>
				</div>
			</div>
			
		</div>
		
	</div>
	
	
</body>
</html>