<!DOCTYPE html>
<html>

<head>

<meta charset="ISO-8859-1">

<title>RicercaInserzioniProfessionista</title>

</head>

<body>

<a href="file:///C:/Users/ricdinoia/git/Need4Work/Need4Work/src/AccountProfiloProfessionista.html" > MyProfile </a>


<input type="search" value="cerca l'inserzione"> 

<h1>Titolo Inserzione 1</h1> <a href="file:///C:/Users/ricdinoia/git/Need4Work/Need4Work/src/InserzioneCercata.html"><input type="button" value="vai a inserzione"> </a>
<p> descrizione</p>
<input type="text" value=" ">
<p>luogo</p>
<input type="text" value=" ">

<h1>Titolo Inserzione 2</h1> <t></t> <a href="file:///C:/Users/ricdinoia/git/Need4Work/Need4Work/src/InserzioneCercata.html"><input type="button" value="vai a inserzione"> </a>
<p>descrizione</p>
<input type="text" value=" ">
<p>luogo</p>
<input type="text" value=" ">

<h1>Titolo Inserzione 3</h1> <t></t> <a href="file:///C:/Users/ricdinoia/git/Need4Work/Need4Work/src/InserzioneCercata.html"> <input type="button" value="vai a inserzione"> </a>
<p>descrizione</p>
<input type="text" value=" ">
<p>luogo</p>
<input type="text" value=" ">






</body>

</html>