<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<meta charset="UTF-8">
<title>Creazione profilo</title>
</head>
<body>
<h1>
<p align="center">Crea il tuo account</p>
</h1>
<form class="form-horizontal" method="POST" th:action="@{/signUpInserzionista}" th:object="${signUpInserzionistaForm}">
	<div class="form-group">
		<label class="control-label col-sm-2" for="nome">Nome </label>
			<div class="col-sm-8">	
				<input class="form-control" type="text" th:field="*{nome}" placeholder="Mario">
				<p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" />
			</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="cognome">Cognome </label>
			<div class="col-sm-8">	
				<input class="form-control" type="text" th:field="*{cognome}" placeholder="Rossi">
				<p th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}" />
			</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="dataNascita">Data di nascita </label>
			<div class="col-sm-2">	
				<input class="form-control" type="date" name="dataNascita">
			</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="via">Via </label>
			<div class="col-sm-8">	
				<input class="form-control" type="text" th:field="*{via}" placeholder="via torino, 5, Milano">
				<p th:if="${#fields.hasErrors('via')}" th:errors="*{via}" />
			</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="cap">CAP </label>
			<div class="col-sm-1">	
				<input class="form-control" type="text" th:field="*{cap}" placeholder="00000">
				<p th:if="${#fields.hasErrors('cap')}" th:errors="*{cap}" />
			</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="paese">Paese </label>
			<div class="col-sm-8">	
				<input class="form-control" type="text" th:field="*{paese}" placeholder="Italia">
				<p th:if="${#fields.hasErrors('paese')}" th:errors="*{paese}" />
			</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="provincia">Provincia </label>
			<div class="col-sm-1">	
				<input class="form-control" type="text" th:field="*{provincia}" placeholder="MI">
				<p th:if="${#fields.hasErrors('provincia')}" th:errors="*{provincia}" />
			</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="email">Email </label>
			<div class="col-sm-8">	
				<input class="form-control" type="email" th:field="*{email}" placeholder="mario.rosssi@gmail.com">
				<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" />
			</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="cellulare">Cellulare </label>
			<div class="col-sm-8">	
				<input class="form-control" type="text" th:field="*{cellulare}" placeholder="3335174325">
				<p th:if="${#fields.hasErrors('cellulare')}" th:errors="*{cellulare}" />
			</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="password">Password </label>
			<div class="col-sm-8">	
				<input class="form-control" type="password" th:field="*{password}" maxlength="20" placeholder="**********">
				<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" />
			</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default">Registrati</button>
		</div>
	</div>
</form>
</body>
</html>