<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Asta</title>
</head>
<body>
	<h1><p th:text="${asta.titolo}"/></h1>
	<p th:text="${asta.commento}"/>
	<table>
	<tr>
		<td>Utente</td>
		<td>Offerta</td>
	</tr>
		   <th:block th:each="offerta : ${offerte}">
			  <tr>
			     <td th:text="${offerta.utente.getEmail()}"></td>
			     <td th:text="${offerta.prezzo}"></td>
			     <td><a th:href="@{'profiloProfessionista/' + ${offerta.getUtente().getEmail()}}">Visualizza profilo professionista</a></td>
			     <td><a th:href="@{'astaAccettata/' + ${offerta.getUtente().getEmail()}}">Accetta</a></td>
			  </tr>
		   </th:block>
	</table> 
</body>
</html>