<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Asta</title>
<th:block th:include="fragments/_layout.html :: head"></th:block>
</head>
<body>
	<th:block th:include="fragments/_layout.html :: navbar">Error loading thymeleaf content</th:block>
	<div id="dataDisplayContainer" class="container mt-4">
		<h1>
			<p th:text="${asta.titolo}" />
		</h1>
		<h3>
			<label for="scadenza">Scadenza:</label>
			<p id="scadenza" th:text="${asta.dataFine}"></p>
		</h3>
		<p th:text="${asta.commento}" />
		<table class="table mt-2 text-center">
			<thead class="thead-light">
				<tr class="thead-dark" >
					<th scope="col" colspan="2" class=" font-weight-bold">Offerte</th>
				</tr>
				<tr>
					<th scope="col">Utente</th>
					<th scope="col">Offerta</th>
				</tr>
			</tr>
			</thead>
			
			<th:block th:each="offerta : ${offerte}">
				<tr>
					<td th:text="${offerta.utente.getEmail()}"></td>
					<td th:text="${offerta.prezzo}"></td>
					<td><a
						th:href="@{'visualizzaUtente/' + ${offerta.getUtente().getEmail()}}">Visualizza
							profilo professionista</a></td>
					<td><a th:href="@{'accetta/' + ${offerta.getId()}}">Accetta</a></td>
				</tr>
			</th:block>
		</table>
	</div>

</body>
</html>