<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Scrivi recensione</title>
</head>
<body>
<h1>Lascia la tua recensione</h1>
<form method="POST" th:action="@{/scriviRecensione}" th:object="${scriviRecensioneForm}">
	Titolo <input type="text" th:field="*{titolo}"></br>
	<label for="commento">Commento</label></br><textarea rows="5" id="commento" name="commento" placeholder="Scrivi qui la tua recensione..." required></textarea>

	<label for="commento">Commento</label></br>
	<textarea rows="5" id="commento" th:field="*{commento}"></textarea>
	</br>
	Valutazione 
	<input type="radio" id="valutazione" name="valutazione" value="1" required>
	<label for="valutazione">1</label>
	<input type="radio" id="valutazione" name="valutazione" value="2" required>
	<label for="valutazione">2</label>
	<input type="radio" id="valutazione" name="valutazione" value="3" required>
	<label for="valutazione">3</label>
	<input type="radio" id="valutazione" name="valutazione" value="4" required>
	<label for="valutazione">4</label>
	<input type="radio" id="valutazione" name="valutazione" value="5" required>
	<label for="valutazione">5</label></br>
	<input type="submit" value="Invia recensione">
</form>
</body>
</html>